CREATE DATABASE [SOPG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SOPG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SOPG.mdf' , SIZE = 7168KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SOPG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SOPG_log.ldf' , SIZE = 2048KB , FILEGROWTH = 10%)
GO
USE [SOPG]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [SOPG] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
